<header class="site-header" role="banner">
    <div class="container header-inner">
        
        <!-- 1. LOGO -->
        <a href="{{ '/' | relative_url }}" class="site-title"><img src="/assets/images/logos/vn-elliott-logo-ngang-154-60.png" alt="VN ELLIOTT logo" height="70px"></a>
        
        {% include nav.html %}

        <!-- 3. BUTTON RIGHT -->
        <div class="header-right">
            <a href="#" target="_blank" class="btn btn-header-cta">
                Tham gia nhóm
            </a>
        </div>

    </div>
</header>
